.container {
	flex: 1.7;
	flex-direction: column;
	background-color: #e9e9f5;
	border-radius: 50px;
	padding: 40px;
	min-width: 323.54px;
	width: calc(100vw - 1320px);
}

.dateContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	gap: 20px;
}

.dateContainer button:hover {
	color: #403f3f;
	box-shadow: inset 0 -3px 0 -1px #403f3f;
}

.active {
	color: #403f3f;
	box-shadow: inset 0 -3px 0 -1px #403f3f;
}

.dateTitle {
	margin-top: 20px;
}
