.container {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(208, 198, 198, 0.4);
	z-index: 20;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 1px solid #484646;
	border-radius: 1.5rem;
	width: 400px;
	background: rgb(255, 255, 255);
	padding: 20px;
}

.closeBtn {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.modalOpen {
	overflow: hidden;
}
