.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	background-color: #545454;
	background-image: url('assets/background.jfif');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mainContent {
	padding: 100px 0;
	text-align: center;
}
